body {
    height: 100%;
    margin: 10em;
    display: flex;
    flex-flow: row wrap;
}

.beat {
    height: 200px;
    display: flex;
    flex: 1;
    padding: 20px;
}

.beat.active {
    border: 20px solid yellow;
    padding: 0;
}